.about-us {
	max-width: 278px;
	margin: 0 auto;
	margin-bottom: 39px;	
}

.about-us__flex-wrapper {
	display: flex;	
	flex-wrap: wrap;
}

.about-us__title {
	width: 100%;
	font-size: 	$title-size;
	line-height: 33px;	
	text-align: center;
	padding: 0;	
	margin: 0;
	margin-bottom: 19px;
}

.about-us__frame-circle {
	position: relative;
	width: 156px;	
	height: 156px;	
	border-radius: 50%;
	overflow: 	hidden;
	margin-right: 33px;	
}

.about-us__img {
	position: absolute;
	top: -2px;
	right: -40px;
}

.about-us__list {
	margin-top: 1px;	

   .social-list__item {
		width: 36px;	
		height: 36px;	
		margin-bottom: 15px;	
		padding-top: 9px;

		&--vk {
		  padding-top: 7px;
		}

		&:hover {
			box-shadow: 0 0 2px 2px $rose-shadow;
		}

		&:active {
			opacity: 0.3;
			box-shadow: none;
	    }
    }	
}

@media (min-width: $tablet-width) {
	.about-us {
		position: relative;
		max-width: 675px;
		margin: 0 auto;
		padding-top: 17px;
		margin-bottom: 80px;
	}

	.about-us__flex-wrapper {
		margin-bottom: 18px;
	}

	.about-us__title {
		text-align: left;
		font-size: 28px;
		margin-bottom: 0;
	}

	.about-us__frame-circle {
		position: absolute;
		top: 11px;
		right: -33px;
		width: 312px;
		height: 311px;
	}

	.about-us__img {
		top: -6px;
		left: -103px;
    }

    .about-us__list {
    	display: flex;
    	order: 5;

    	.social-list__item {
			margin-right: 20px;
			margin-bottom: 0;
		}
    }
}

@media (min-width: $desctop-width) {
	.about-us {
		max-width: 1222px;
		margin-bottom: 208px;
	}

	.about-us__flex-wrapper {
		margin-bottom: 220px;
	}

	.about-us__title {
		font-size: 40px;
		margin-top: 18px;
		margin-bottom: 26px;
	}

	.about-us__frame-circle {
		right: 39px;
		width: 510px;
		height: 510px;
	}

	.about-us__img {
	    top: -10px;
	    left: -168px;
    }
}