.details-list {
  @include list;
  font-size: 13px;
  margin-bottom: 42px;
}

.details-list__item {
  position: relative;
  padding-left: 15px;
  margin-bottom: 27px;

  &--ingredients::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -27px;
    width: 35px;
    height: 35px;
    background-image: url("../img/icon-ingredient.png");
    background-repeat: no-repeat;
  }

  &--delivery::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -27px;
    width: 35px;
    height: 35px;
    background-image: url("../img/icon-delivery.png");
    background-repeat: no-repeat
  }
}

@media (min-width: $tablet-width) {
  .details-list {
    display: flex;
    margin-left: 52px;
  }

  .details-list__item {
    margin-right: 126px;

    &--ingredients::before {
      background-image: url("../img/icon-ingredient-big.png");
      background-size: cover;
      width: 55px;
      height: 55px;
      top: -15px;
      left: -51px;
    }

    &--delivery::before {
      background-size: cover;
      width: 55px;
      height: 55px;
      top: -15px;
      left: -56px;
      background-image: url("../img/icon-delivery-big.png");
    }
    .details-list__new-line {
      display: block;
    }
  }
}
