$black: #000000;
$white: #ffffff;

$rose-bg: #fbebea;
$rose-btn: #f50049;;
$rose-shadow: #fcacbd;
$rose-light-shadow: #f7dfe1;

$red: #e3353d;

$grey: #f4f2f2;
$grey-menu: #e7e7e7;
$grey-dark: #383838;
$grey-light: #dedede;
$grey-cakes-list: #6c6869;
$grey-footer: #898989;
$grey-footer-line: #959595;
$grey-footer-text-desctop: #2d2829;

$title-size: 24px;
$regular-size: 14px;
$small-size: 12px;

$tablet-width: 768px;
$desctop-width: 1366px;